configuration (  
        master_exec_path = "/home/tools/synopsys/icvalidator/U-2022.12/bin/LINUX64_L31el/icv_manager",
        slave_exec_path = "/home/tools/synopsys/icvalidator/U-2022.12/bin/LINUX64_L31el/icv_worker",
        engine_exec_path = "/home/tools/synopsys/icvalidator/U-2022.12/bin/LINUX64_L31el/icv_engine",
        working_directory = "/home/users/hungpt/icdesign/analog/lab03/synopsys_custom/inverter.icv.lvs",
        run_details_directory = "/home/users/hungpt/icdesign/analog/lab03/synopsys_custom/inverter.icv.lvs/run_details",
        group_directory = "/home/users/hungpt/icdesign/analog/lab03/synopsys_custom/inverter.icv.lvs/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { localhost, ""},
                 { localhost, ""},
                 }
);
